	<style>
		/*! jQuery UI - v1.10.2 - 2013-03-17
		* http://jqueryui.com
		* Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css
		* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */



		h1 {
		    line-height: 1.2em;
		}

		p.body {
			color: #444;
		    font-size: 16px;
		    line-height: 27px;
		    margin-bottom: 24px;
		}

		.domine {
			font-family:Domine;
		}


		.clear {clear: both;}

		.centered {
		    text-align: center;
		    margin: 0 0 25px 0;
		    font-family: inerit;
		    line-height: 1.5em;
		}

		/* ABOUT THE SINGLE-DOUBLE-TRIPLE CLASSES */

		.single {
		    width: 100%;
		    height: auto;
		    margin: auto; 
		}

		.double {
		    width: 47%;
		     min-width: 270px;
		    height: auto;
		    margin: auto;
		    padding: 0 3% 0 0;
		    float: left; 
		}

		.triple {
		    width: 30%;
		    min-width: 270px;
		    height: auto;
		    margin: auto;
		    padding: 0 3% 0 0;
		    float: left; 
		}

		#timeline {
			margin-top:100px;
		}

		/* ALL ABOUT THE GRAPHIC DIV */

		.graphic{
		    width: 100%;
		    height: auto;
		    margin: 30px auto 0 auto ;
		}

		.graphic h4 {
		    padding: 0;
		    margin: 0 0 4px 0;
		    font-family: 'Open Sans', sans-serif;
		    font-weight: bold;
		    font-size: 1.3em;
		    line-height: 1.3em;
		    }
		    
		.graphic p, .graphic2 p {
		    width: 100%;
		    padding: 0;
		    margin: 0 0 8px 0;
		    font-family:  'Open Sans', sans-serif;
		    font-size: 1em;
		    line-height: 1.3em;
		    color: #666;
		    }
		    
		.graphic img{
		    width: 100%;
		    height: auto;
		    }
		        
		.graphic div{
		    /*width: 100%;*/
		    height: auto;
		}

		/* NUMBERED DOTS */

		.dots{
		    position: relative;
		}

		.dot {
		    background-color: #000000;
		    color: white;
		    text-align: center;
		    vertical-align: middle;
		    padding: 0;
		    line-height: 20px;
		    font-family: sans-serif;
		    font-size: 14px;
		    width: 20px !important;
		    height: 20px !important;
		    border-radius: 20px;
		    border: 1px solid #ffffff;
		    box-shadow: 1px 1px 1px #000000;
		    cursor: pointer;
		    z-index: 999;
		}



		

		/* ROLLOVER BOX */

		.ui-tooltip {
		    padding: 10px 20px;
		    color: black;
		    background-color: white;
		    font: 14px  'Open Sans', sans-serif;
		    box-shadow: 0 0 7px black;
		}



		/* 1-2-3 PANEL STYLES */

		.tab-nav a {
		    background: none repeat scroll 0 0 white;
		    border: 1px solid #CCCCCC;
		    color: #444444;
		    display: inline-block;
		    font-size: 12px;
		    font-weight: bold;
		    margin: 0 -1px 0 0;
		    padding: 2px 10px 2px;
		    text-decoration: none;
		    font-family: sans-serif;
		}

		.tab-nav a.activeSlide {
		    background: none repeat scroll 0 0 #E8E8E8;
		    color: #000000;
		}

		.tab-nav {
		    width: auto !important;
		    float: left;
		    margin: 10px 10px 0 0;
		    height: 44px;
		}

		.tab-wrapper {
		    margin: 0 auto -1px auto;
		    height: 20px;
		}

		#panel_graphic {
		    margin: 10px 0 0 0;
		    position: relative;
		    width: 100% !important;
		}

		.panel-line {
		    border-top: 1px solid #FFFFFF;
		    line-height: 0;
		}

		.panel {
		    position: relative;
		    display: block;
		    left: 0;
		    opacity: 1;
		    padding: 5px 0 0 0;
		    z-index: 4;
		    background-color: white;
		}

		.title{
			font-family: 'Open Sans', sans-serif;
			font-size: 1em;	
			width: 450px;
			margin-left: 40px;
		}



		#parent {
		  position: absolute;
		  width: 30%;
		}

		.dots #parent {
		  position: absolute;
		  width: auto;
		}

		#popup {
		  margin: 5% 0;
		  border: solid 1px #666666;
		  background-color: white;
		  padding: 5%;
		  font-family: 'Open Sans', sans-serif;
		  font-size: 0.9em;
		  line-height: 1.2em;
		  max-width: 250px;
		}


		#parent #popup {
		  display: none;
		}

		#parent:hover #popup {
		  display: block;
		  z-index: 5000;
		}

		#parent:hover {
		  z-index: 5000;
		}

		
		/*CARTO DB MAP*/
		#cartodb-map {
		    width:100%; 
		    height:400px;
		}

		/* RESPONSIVE STYLE BREAKPOINT REFERENCE
			big desktops: 1400px;
			most laptops: 1100px;
			iPad portrait: 768px;
			phones: 480px; 
			smaller phones: 300px;*/
			
		@media (max-width: 1400px){
			/*use these classes to switch out three levels of images with hard-to-read text*/
			.hide-desktop {display:block;}
			.hide-desktop {display:none;}
			.hide-tablet {display:none;}
		}

		@media (max-width: 1100px){

		}

		@media (max-width: 768px){
			.hide-desktop {display:none;}
			.hide-tablet {display:block;}
			.double {
				width:100%;
			}
			.triple { 
				width:100%;
			}
		}

		@media (max-width: 480px){
			.hide-desktop {display:none;}
			.hide-tablet {display:none;}
			.hide-mobile {display:block;}

			/*making fonts a bit smaller*/
			.graphic h4 {font-size:1.1em;}
			.graphic p {font-size:.9em;}
		}

		@media (max-width: 300px){

		}

		</style>